body
{
    font-family: 'Raleway', sans-serif;
    background: #2d0ce9;
}

.header_div
{
    background: rgb(141, 140, 140);
    color: rgb(4, 255, 4);
}

.header_div p{
    color: rgb(4, 255, 4);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    color: rgb(4, 255, 4);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: rgb(141, 140, 140);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(141, 140, 140);
}